<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Welcome to our JSF Application</title>
</h:head>

<body>
	<h1>Hello #{helloController.name}  <h:outputText value="#{helloController.name}" escape="false"/> </h1>
	
</body>

</html>
