<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Welcome to our JSF Application</title>
</h:head>

<body>
	<h1>Hello World</h1>
	
	<h:form id="helloForm">
		<h:outputLabel value="Input your name"/>
		<h:inputText value="#{helloController.name}"/>
		<br/>
		<h:outputLabel value="Age="/>
		<h:inputText id="ageInputA" value="#{helloController.age1}">
			<c:validateLongRange minimum="3" maximum="100"/>
		</h:inputText>
		<h:outputLabel value="+"/>
		<h:inputText id="ageInputB" value="#{helloController.age2}">
			<c:validateLongRange minimum="3" maximum="100"/>
		</h:inputText>
		<h:outputLabel value="="/>
		<h:outputText value="#{helloController.ageSum}"/>
		<br/>
		<h:commandButton value="OK" action="#{helloController.handleOkClick}"/>
		<h:commandButton value="+" action="#{helloController.handleAddClick}"/>
		<h:commandButton value="-" action="#{helloController.handleSubClick}"/>
		<br/>
		<h:commandButton value="Say Hello" action="#{helloController.handleSayHello}"/>
		<h:commandButton value="Goodbye" action="waveGoodBye" immediate="true"/>
		<h:commandButton value="Goodbye direct" action="/goodbye.xhtml"/>
		<h:message for="ageInput" style="color:red;"/>
	</h:form>
</body>

</html>
